<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">-->
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/layui2.55/css/layui.css}" media="all">
    <style>
        .layui-col-sm10 {
            width: 83.33333333%;
            height: 100%;
        }

        .layui-col-lg10 {
            width: 83.33333333%;
            height: 100%;
        }

        .ztree * {
            font-size: 15px;
        }

        .iframe-style {
            margin-left: 2px;
            /*height: 95%;*/
            /*margin-right: 10px;*/
            /* margin-bottom:20px;*/
            /* width: 83.33333333%*/
        }

        .timo-layout-page {
            background-color: #eeeeee;
            padding: 18px;
            height: 95%;
            /*width: 100%;*/
        }
    </style>
</head>

<body class="timo-layout-page">
<div class="layui-card timo-tree" th:attr="data-url=@{'/system/menu/lineTree?'+${search}}">
    <div class="layui-card-body layui-row">
        <div class="layui-col-lg2 layui-col-sm2">
            <div class="layui-card timo-nav-tree">
                <input type="hidden" class="layui-btn add-line" data-title="添加线路"
                       th:attr="data-url=@{'/system/menu/addLineInfo'}" data-size="760,510">
                <button class="layui-btn open-popup popup-add" data-title="添加线路"
                        style="margin-left: 20px;margin-top: 10px"
                        th:attr="data-url=@{'/system/menu/addLineInfo'}" data-size="760,510">
                    <i class="fa fa-plus"></i> 添加线路
                </button>
                <button class="layui-btn lineAll" data-title="所有线路" style="margin-left: 20px;margin-top: 10px"
                        th:attr="data-url=@{'/system/lineInfo/lineInfoAll'}" data-size="760,510">
                    <i class="fa fa-plus"></i> 所有线路
                </button>
                <div class="layui-card-body">
                    <div class="layui-inline">
                        <input type="text" class="layui-input layui-input-inline" name="searchTree"  />
                    </div>
                        <div id="projectTree" class="demo-tree demo-tree-box"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg10 layui-col-sm10">
            <div class="iframe-style">
                <iframe src="/system/lineInfo/lineInfoAll" id="iframe" name="iframe"
                        style="width: 100%;min-height:655px;height:95%;margin-top: 6px;"
                        frameborder=0 scrolling=no width="100%"></iframe>
            </div>
            <!-- <iframe id="iframe" src="/system/lineInfo/lineInfoAll" style="margin-top: 6px;"
                     frameborder="0" scrolling="auto"></iframe>-->
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui2.55/layui.js}" charset="utf-8"></script>
<script>


    layui.use(['form', 'layedit', 'laydate', 'element', 'jquery', 'tree', 'util'], function () {
        var form = layui.form,
            layer = layui.layer,
            element = layui.element,
            $ = layui.jquery,
            laydate = layui.laydate,
            tree = layui.tree,
            util = layui.util,
            startTime, endTime;


        $.ajax({
            url: "/system/menu/reportLineTree",
            success: function (data) {
                tree.render({
                    elem: '#projectTree'
                    , data: data.data
                    , id: 'treeId'
                    , customOperate: true
                    , edit: ['add', 'update', 'del']
                    , click: function (obj) {
                        var type = obj.type;//得到当前节点类型
                        var data = obj.data;//得到当前节点数据
                        var elem = obj.elem;//得到当前节点元素
                        var id = data.id;//得到节点索引
                        var parentId = data.parentId;//父节点

                        var url = data.url.substring(0, data.url.indexOf("="));//截取字符串
                        document.getElementById("iframe").src = url + "=" + data.title;

                        //"/system/lineInfo/indexManage?nodeName"


                    }, operate: function (obj) {//节点操作
                        var type = obj.type;//得到当前节点类型
                        var data = obj.data;//得到当前节点数据
                        var elem = obj.elem;//得到当前节点元素
                        var id = data.id;//得到节点索引
                        var parentId = data.parentId;//父节点


                        if (type == 'add') {
                            if (data.url.indexOf("lineInfo") != -1) {//添加标段
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '添加标段',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['770px', '425px'],
                                    content: ["/system/menu/addBidSection" + '?id=' + id + '&tree=true', 'on']
                                });
                            } else if (data.url.indexOf("bidSection") != -1) {//添加工点
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '添加工点',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['770px', '340px'],
                                    content: ["/system/menu/addWorkSpot" + '?id=' + id + '&tree=true', 'on']
                                });
                            } else {//添加测点
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '添加测点',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['1130px', '540px'],
                                    content: ["/system/menu/addMeasuringSpot" + '?id=' + id + '&tree=true', 'on']
                                });
                            }

                        } else if (type == 'update') {
                            if (data.url.indexOf("lineInfo") != -1) {//编辑标段
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '编辑线路',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['814px', '400px'],
                                    content: ["/system/menu/lineInfoedit?id=" + id + '&tree=true', 'on']
                                });
                            } else if (data.url.indexOf("bidSection") != -1) {//编辑工点
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '编辑标段',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['814px', '450px'],
                                    content: ["/system/menu/bidSectionEdit" + '?id=' + id + '&tree=true', 'on']
                                });
                            } else if (data.url.indexOf("workSpot") != -1) {//编辑工点
                                window.layerIndex = layer.open({
                                    type: 2,
                                    title: '编辑工点',
                                    shadeClose: true,
                                    maxmin: true,
                                    area: ['814px', '400px'],
                                    content: ["/system/menu/workSpotEdit" + '?id=' + id + '&tree=true', 'on']
                                });
                            }
                        } else {//删除
                            $.ajax({
                                url: '/system/menu/delTree?id=' + id,
                                success: function (result) {
                                    if (result.code === 200) {
                                        layer.msg(result.msg, {
                                            icon: 1,
                                            time: 3000,
                                            end: function () {
                                                location.reload();
                                            }
                                        });
                                    } else {
                                        layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                                    }
                                }
                            });
                        }
                    }
                });
            }
        });


        tree.syncLayuiTreeFilter = function (treeId, filter, callback) {
            var treeElem = $('#' + treeId), filterElem = $(filter);
            if (!filterElem.length || !filterElem.length) {
                return;
            }
            filterElem.unbind('change').change(function (event) {
                var that = this;
                var value = $(that).val().trim();
                var HIDE = 'layui-hide';
                var hintClass = 'search_hit';
                // 先恢复现场
                treeElem.find('.' + HIDE).removeClass(HIDE);
                treeElem.find('.' + hintClass).removeClass(hintClass).each(function (index, item) {
                    item = $(item);
                    item.html(item.data('textOld')).data('textOld', null);
                });
                // 如果有值筛选开始
                if (value) {
                    layui.each(treeElem.find('cite'), function (index, elem) {
                        elem = $(elem);
                        var textTemp = elem.text();
                        if (textTemp.indexOf(value) === -1) {
                            // 不存在就隐藏
                            elem.closest('li').addClass(HIDE);
                        } else {
                            // 命中就添加一个class
                            elem.addClass(hintClass)
                                .data('textOld', textTemp) // 记录原始的文本，下面会替换成命中的文本高亮显示的html
                                .html(textTemp.replace(new RegExp(value, 'g'), '<span class="search_hint_text">' + value + '</span>'));
                        }
                    });
                    layui.each(treeElem.find('.' + hintClass), function (index, elem) {
                        elem = $(elem);
                        // 遍历祖辈的ul
                        elem.parents('ul').each(function (i, item) {
                            item = $(item);
                            // 显示父节点
                            item.parent('li').removeClass(HIDE);
                            if (!item.hasClass('layui-show')) {
                                // 如果是折叠的就点击一下图标让它展开
                                item.parent('li').removeClass(HIDE).find('>i').click();
                            }
                        });
                    });
                }
                // 如果设置了回调的话
                typeof callback === 'function' && callback.call(that, treeElem, filterElem, treeElem.find('.' + hintClass).length);
            });
        };


        tree.syncLayuiTreeFilter('projectTree', '[name="searchTree"]', function (treeElem, filterElem, hitNumbers) {
            console.log('hitNumbers', hitNumbers);
            layer.msg('找到' + hitNumbers + '个节点');
        });



        $(document).on("click", ".lineAll", function () {
            var url = $(this).attr("data-url");
            document.getElementById("iframe").src = url;

        });


        /* 添加/修改弹出层 */
        $(document).on("click", ".add-line", function () {

            var title = $(this).attr("data-title");
            var url = $(this).attr("data-url");
            var size = $(this).attr("data-size");

            var popup = $(this);
            var Arrkey, reg = /^jQuery[0-9]\d*$/
            for (var key in popup[0]) {
                if (reg.test(key)) {
                    Arrkey = key
                }
            }
            if (Arrkey != undefined && Arrkey != null) {
                delete popup[0][Arrkey].title;
                delete popup[0][Arrkey].url;
            }

            if (size === undefined || size === "auto") {
                size = ['50%', '80%'];
            } else if (size === "max") {
                size = ['100%', '100%'];
            } else if (size.indexOf(',') !== -1) {
                var split = size.split(",");
                size = [split[0] + 'px', split[1] + 'px'];
            }
            window.layerIndex = layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                maxmin: true,
                area: size,
                content: [url, 'on']
            });
        });


    });


    function reinitIframe() {
        var iframe = document.getElementById("iframe");//id改为你的iframe的id
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
        } catch (ex) {
        }
    }

    window.setInterval("reinitIframe()", 200);
</script>
</body>
</html>