<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <input type="hidden" name="bidSectionId" th:if="${bidSection}" th:value="${bidSection.id}"/>
    <div class="layui-card-header timo-card-header">
        <i class="fa fa-bars"></i><span id="title" style="margin-left: 10px"></span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="timo-table-wrap">
        <div class="timo-detail-page">
            <table class="layui-table" id="userBidSection" lay-filter="userBidSection"></table>
            <script id="titleTpl" type="text/html">
                <a class="open-popup" data-title="导出工点数据"
                   th:attr="data-url=@{'/system/workSpot/toExportExcel?workSpotId={{d.id}}'}" data-size="640,390">导出数据</a>
                <a th:href="@{/system/workSpot/index?nodeName={{d.name}}}"  >进入</a>
            </script>
        </div>
    </div>
</div>
</div>
</body>
<script th:replace="/common/template :: script"></script>

<script>
    layui.use(['form', 'layedit', 'laydate', 'element', 'jquery', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            element = layui.element,
            table = layui.table,
            $ = layui.jquery;


        var bidSectionId = layui.jquery('input[name= bidSectionId]').val();

        table.render({
            elem: '#userBidSection',
            method: 'get',
            //屏幕高度-合适的高度
            page: true,
            loading: true,
            cellMinWidth: 90, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            autoSort: true,
            maxWidth: 300,
            url: '/system/workSpot/userWorkSpotData?bidSectionId='+bidSectionId,  //数据地址

            cols:
                [
                    [
                        {field: 'name', title: '工点名称', width: '12%',align:'center', sort: true},
                        {field: 'no', title: '工点编码', width: '12%',align:'center', sort: true},
                        {field: 'startMileage', title: '起始里程', width: '12%',align:'center', sort: true},
                        {field: 'endMileage', title: '结束里程', width: '12%',align:'center', sort: true},
                        {field: 'workSpotType', title: '工点类型', width: '12%',align:'center', sort: true},
                        {field: 'workSpotSurvey', title: '工点概况', width: '12%',align:'center'},
                        {field: 'remarks', title: '备注', width: '12%',align:'center'},
                        {field: '', title: '操作', width: '16%', templet: '#titleTpl',align:'center'}
                    ]
                ],id: 'userBidSection', done: function (res) {
                tdTitle();
            }
        });
        $.ajax({
            url: "/system/bidSection/title?id="+bidSectionId ,
            success: function (value) {
                document.getElementById ("title").innerHTML = value.msg;
            }
        });


    });


</script>
</body>
</html>